%tr
  %td= patient.first_name
  %td= patient.last_name
  %td= patient.gender
  %td= patient.age
  %td= patient.DNI
  %td= patient.nationality
  %td= patient.email
  %td= patient.landline
  %td
    = link_to "Show this patient", patient