<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= patient.first_name %>
  </p>

  <p>
    <strong>Second name:</strong>
    <%= patient.second_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= patient.last_name %>
  </p>

  <p>
    <strong>Second last name:</strong>
    <%= patient.second_last_name %>
  </p>

  <p>
    <strong>Prefer name:</strong>
    <%= patient.prefer_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= patient.gender %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= patient.date_of_birth %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= patient.DNI %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= patient.nationality %>
  </p>

  <p>
    <strong>Person in charge:</strong>
    <%= patient.person_in_charge %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= patient.relationship %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= patient.address %>
  </p>

  <p>
    <strong>Landline:</strong>
    <%= patient.landline %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= patient.mobile %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Email notification:</strong>
    <%= patient.email_notification %>
  </p>

  <p>
    <strong>Find method:</strong>
    <%= patient.find_method %>
  </p>

</div>
