%body
  .container
    .row.justify-content-center
      .card.shadow-lg.border-0.rounded-lg.mt-5
        %h1#page-title.text-center.font-weight-light.my-4 Login
        .card-body
          = form_with(url: login_path, method: :post) do |form|
            .mb-3
              = form.label :email
              = form.text_field :email, class: 'form-control'
            .mb-3
              = form.label :password
              = form.password_field :password, class: 'form-control'
            .mb-3
              = form.submit "Sign in", id: 'sign-in-button', class: 'btn btn-primary btn-block mb-4'
          %div
            %p
              Don't have an account? #{link_to "Register", register_path, id: "register-user"}
