!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BlueSharkRails
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = javascript_importmap_tags
    %script{:src => "https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"}
    %link{:href => "https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.11.3/main.min.css,npm/fullcalendar@5.11.3/main.min.css", :rel => "stylesheet"}
  %body
    = render 'shared/navbar'
    = yield
